
<dom-module id="page-style">
    <template>
        <style include="gl-size gl-color gl-table gl-panel">
            .header {
				padding: 10px 0px 10px 10px;
				background-color: var(--paper-grey-100);
				color: var(--paper-grey-600);
				font-size: var(--font-size-h4);
			}
			.title {
				text-align: center;
				font-size: var(--font-size-h3);
				padding: 10px;
			}
			.container {
				margin: 20px 40px 20px 40px;
			}
			.content{
				padding: 10px;
			}
			.fontCSC,paper-button{
				font-family: 'CSChatThaiUI', sans-serif;
				-webkit-font-smoothing: antialiased;
			}
			.fontRSU{
				font-family: 'rsuregular', sans-serif;
				-webkit-font-smoothing: antialiased;
			}
			vaadin-combo-box,paper-input{
                --paper-input-container-label:{
                        font-family: 'CSChatThaiUI', sans-serif;
                        -webkit-font-smoothing: antialiased;
                        font-size:18px;
                        font-weight: 500;
                }
                --paper-input-container-input:{
                        font-family: 'CSChatThaiUI', sans-serif;
                        -webkit-font-smoothing: antialiased;
                }
			}
        </style>
    </template>
    <script>
        Polymer({
            is: 'page-style'
        });
    </script>
</dom-module>